* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa;
  font-family: lato;
  color: #dbe9ee;
  max-height: 100vh;
}

header {
  background-color: #4f6d7a;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.chat-participant-list {
  height: 90px;
  background-color: #4f6d7a;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .chat-participant-item {
    display:flex;
    flex-direction: column;
    margin:0px 20px 0px 20px;
    
    &:hover{
      transform:scale(1.1);
      
    }

    .chat-participant-item-name {
      font-size: 10px;
      text-align: center;
    }

  }


}

.messageInput-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .left-logo-container {
    background-color: #dbe9ee;
    border-radius: 50px 0px 0px 50px;
    padding-left: 10px;
  }
  .right-logo-container {
    background-color: #dbe9ee;
    border-radius: 0px 50px 50px 0px;
    padding-right: 10px;
  }

  .logo {
    cursor: pointer;
    background-color: #dbe9ee;
  }

  textarea {
    width: 70vw;
    resize: none;
    line-height: 20px;
    padding: 20px 10px 0px 10px;
    background-color: #dbe9ee;
    color: #4f6d7a;
    border: none;
    text-align: left;
    vertical-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }
}

.message-list {
  overflow: scroll;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .message-item {
    display: flex;
    margin-bottom: 20px;
  }

  .message-bubble {
    max-width: 70vw;
    word-break: break-all;
    display: flex;
    flex-direction: column;
  }

  .message-sender {
    font-size: 12px;
    margin: 10px 15px 0px 15px;
    font-weight: bold;
  }

  .message-receiver {
    font-size: 8px;
    font-style: italic;
    margin: 0px 15px 10px 15px;
  }

  .message-content {
    font-size: 12px;
    margin: 10px 15px 10px 15px;

    & a {
      color: #dbe9ee;
      font-style: oblique;
    }
  }

  .message-image {
    align-self: center;
    max-width: 90%;
    max-height: 200px;
    margin: 10px 15px 10px 15px;
  }
}
